{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
<style>
    .bg{
        background-image: url("images/backgroud/a.png");

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .teub{

        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        background-color: RGBA(0,100,129,0.8);
    }
</style>
    <div class="bg">
    <div class="">
        <article>
           <div class="teub text-center">
            <div class="col-lg-6  col-sm-4  col-md-7 ">
        <h1>Qui suis-je?</h1>
                <p>
                    GUERIN Florian CQPM en Chaudronnerie
                    Mon Parcours Professionnelle
                    J’ai commencé à l’âge de 15ans en pres-apprentissage et je suis tombé amoureux de ce métier dés le premier jour
                    je suis resté 1 ans Chez CSC (2006-2007)ou j’ai appris énormément sur la Ferronnerie après j’ai commencé mon apprenti chez Sarl CARI
                    ou j’ai u mon diplôme avec 19,58 /20 a la suite de ça j’ai été embroché (2007-2014 Chaudronnerie lourde et tuyauterie ).
                    Pour améliorer mais connaissant en tuyauterie j’ai travaillé chez DIF (4 mois)et là SNIG (1ans) 2014-2015
                    Par la suite je suis partie chez CALDOR (1ans)2015-2016j’ai travaillé dans le secteur viticole et alimentaire
                    Pour la diversité j’ai travaillé à DMG pendant 6 mois en t’en que Chaudronnerie  sur des pièces de chaudronnerie fine et de précision et mécano soudé à la suis on m’a proposé le Poste de Chef d’atelier en Chaudronnerie avec la gestion de plus de 8 personnes, préparation des chantiers, gestion clientèle et préparation des devis 2016-2021
                </p>

            </div>
            <div class="col-lg-6  col-sm-4  col-md-7  ">
                <img class=" col-lg-8  col-sm-4  col-md-7 " src="{{ asset('images/backgroud/about.png') }}">
            </div>
           </div>
        </article>
    </div>
    </div>
{% endblock %}
