{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .intro{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .paralaxe {
        margin-top: 3rem;
        /* The image used */
        background-image: url("images/backgroud/a.png");

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container " >
    <h1>AMFC chaudronnier en region paca</h1>
    <div class="row">

    <div class="col-lg-6 text-justify">

   <p class="intro">Professionnel de tout type de travaux métalliques structure métallique, tuyauterie,  pièce mecano soudé et pièce de chaudronnerie
       Sur tout type d’acier et d’inox, aluminium, fonte et cuivre
       Dans le secteur de industrie alimentaire, viticole, agricole nucléaire etc Mais aussi au service du particulier pour des travaux de ferronnier et serrurerie  Pour des garde-corps, portail, pergola, verrière et mobilier
       Entreprise située sur la commune de Rians dans le var se déplace dans tout la  France pour apporter son professionnalisme et son sérieux
   </p>
    </div>
        <div class="col-lg-3 text-lg-right">
        <img class="" src="{{ asset('images/templates/tube.png') }}"  alt="">
    </div>
    </div>

</div>
    <div class="paralaxe">
    {% include 'includes/engagements.html.twig' %}
    </div>
    
    <div class="container">
        <div class="text-center">
        <h2>intervention</h2>
        <p>je me déplace dans toute la region paca en particulier le vaucluse les alpes les ouches du rhone et le var </p>
        </div>
    </div>
    
    <div class="container">
        <div class="text-center ">
            <h3>Devis gratuit</h3>
            <a  class="mailto btn btn-dark btn-lg btn-block"  href="mailto:lenvie13100@gmail.com?subject=Premier contact&body=Bonjour" role="button" aria-disabled="true">
                <i class="fas fa-envelope"></i>
                <p>Demande de devis</p>
            </a>

        </div>
    </div>
{% endblock %}
