<style>
    a{
        color: whitesmoke;
    }
    a:hover{
        color: black;
        text-decoration: none;
    }
    .fab{
        font-size: 2rem;
        margin :1rem;
        color: whitesmoke;
    }

    .fab:hover{
        color:black;
    }


    .footer{

    }


</style>

<div class=" footer row justify-content-center features bg-primary">
    <footer>
        <div class="social">
            <a href="https://instagram.com/lenvie13100?igshid=kccvk8or3jru">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/Lenvie13100-104254031381136/">
                <i class="fab fa-facebook"></i>
            </a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="">Mentions légales</a></li>
            <li class="list-inline-item"><a href="">A propos</a></li>
        </ul>

    </footer>
</div>
