// customize some Bootstrap variables
$primary: darken(#13181c, 20%);



// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text&display=swap');

$im-fell: 'IM Fell DW Pica SC', serif;
$bellota: 'Bellota Text', cursive;


// Styles
p {
  font-family: $bellota;
  font-weight: bold;
  font-size: 1.2rem;

}

h1,h2,h3,h4,h5 {
  font-family: $im-fell;
}

 a {
  font-family: $im-fell;
}


