// customize some Bootstrap variables
$greyseb: #006481   !default;
$primary: $greyseb !default;



// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

// Google Fonts

@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


$fjalla: 'Fjalla One', sans-serif;
$heebo: 'Heebo', sans-serif;


// Styles
body{



  //background-image: linear-gradient(to right bottom, #002db3 45%, #ffffff 50%);
}
p {
  font-family: $heebo;
  font-weight: bold;
  font-size: 1.2rem;

}

h1,h2,h3,h4,h5 {
  font-family: $fjalla;
}

 a {
  font-family: $fjalla;
}


