{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<style>
    .contactBox{
        text-align: center;

    }

    .menu-area img {
        padding: 1rem;
        border-radius: 0.4rem;
    }
    h2 {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    .paralaxe a{
        font-size: 2rem;
         color: black;
    }

    .paralaxe a:hover{
        color: #006481;
    }


</style>

    <div class="paralaxe mb-5">
        <div class="contactBox">
            <h2>Par téléphonne
            </h2>
            <a href="tel:+33659621678">06.59.62.16.78</a>
            <h2>Par Email
            </h2>
            <p>guerin.f@icloud.com</p>
            <a class="mailto nav-link"  href="mailto:guerin.f@icloud.com?subject=premier contact&body=Bonjour" role="button" aria-disabled="true">   <i class="fas fa-paper-plane"></i></a>

        </div>
    </div>
{% endblock %}
